section {
  overflow: hidden;
}
.appear {
  opacity: 0;
  transform: translateY(-100%);
}

.appearActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms linear;
}

.enter {
  opacity: 0;
  transform: translateY(-100%);
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms linear;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}
.exitActive {
  opacity: 0;

  transform: translateX(-100%);
  transition: all 1000ms linear 500ms;
}

/* .title-enter {
  transform: translateX(-100%);
}
.title-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in;
} */
