.button {
  color: white;
  background-color: rgb(228, 0, 0);
  border-radius: 10px;
  width: 80px;
  padding: 5px;
  align-self: center;
  cursor: pointer;
  margin-left: auto;
}
.info {
  margin-right: 5px;
}

.list {
  padding-left: 20px;
}

.listItem {
}

.listItem:not(:last-child) {
  margin-bottom: 5px;
}
